<div class="row row-content" data-ng-controller="MainCtrl">
    <div class="col-xs-12 col-md-6" ng-repeat="movie in movies">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left animated flipInY delay-1s">
                  <a href="#">
                    <img class="media-object img-thumbnail img-responsive img-poster-main" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie.poster_path}}" alt="{{ movie.title }}" height="200" />
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="media-heading"><div class="easy-chart" easypiechart options="options" ng-attr-percent="percent(movie.vote_average)" title="{{movie.vote_average}}"></div>{{ movie.title }}
                    <span class="label label-danger">{{ movie.popularity }}</span>
                    <span class="badge">{{ movie.vote_average }}</span>
                  </h2>
                  <p class="text-justify truncate">{{ movie.overview }}</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>